<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Web test</title>
</head>

<body>
    <div>
        <div>
            <a href="https://www.google.com">
                <img src="/home/user/Desktop/mysite1/home/media/google.png" title="Google" alt="google.com" width="100"
                    height="100">
            </a>
        </div>
        <!-- home icon -->
        <div>
            <input type="text" placeholder="請輸入 商品 或 商店 關鍵字">
            <input type="submit" value="搜尋商品">
            <input type="submit" value="搜尋商店">
        </div>
        <!-- search bar / find goods / find shop -->
        <div>
            <ul>
                <li>
                    <a href="https://www.google.com">我的商城</a>
                    <div>
                        <ul>
                            <li><a href="https://www.google.com">購物車清單</a></li>
                            <li><a href="https://www.google.com">我的最愛</a></li>
                            <li><a href="https://www.google.com">收藏商品</a></li>
                            <li><a href="https://www.google.com">超贈點</a></li>
                            <li><a href="https://www.google.com">折價券</a></li>
                            <li><a href="https://www.google.com">我的專屬優惠</a></li>
                            <li><a href="https://www.google.com">商店客服</a></li>
                            <li><a href="https://www.google.com">超級商城公告</a></li>
                        </ul>
                    </div>
                </li>
                <!-- My shop -->
                <li>
                    <a href="https://www.google.com">登入</a>
                </li><!-- log in/out -->
                <li>
                    <a href="https://www.google.com">訂單查詢</a>
                    <div>
                        <ul>
                            <li><a href="https://www.google.com">出貨進度</a></li>
                            <li><a href="https://www.google.com">退換申請</a></li>
                            <li><a href="https://www.google.com">發票查詢</a></li>
                            <li><a href="https://www.google.com">常見問題</a></li>
                            <li><a href="https://www.google.com">聯絡客服</a></li>
                        </ul>
                    </div>
                </li>
                <!-- order -->
            </ul>
        </div>
    </div>
</body>

</html>