<div id="UH-Res" class="Grid">
    <div class="UHCol1 Grid-U" id="yui_3_12_0_7_1536246015186_185">
        <div class="ylogo" id="yui_3_12_0_7_1536246015186_184"><a href="http://tw.mall.yahoo.com" data-ylk="slk:UH-Logo"
                data-rapid_p="1" id="yui_3_12_0_7_1536246015186_183">Yahoo!奇摩超級商城</a></div>
    </div><!-- /.UHCol1 -->
    <div class="UHCol2 Grid-U">
        <div id="topsearch" class="yui3-skin-sam">
            <form action="//tw.search.mall.yahoo.com/search/mall/product" class="yui3-g" id="yui_3_12_0_7_1536246015186_23">
                <div class="searchbox yui3-u">
                    <div class="srp-sbar-ip" id="yui_3_12_0_7_1536246015186_31" style="width: 483px;"> <input id="srp-ac-bar"
                            type="text" name="p" autocomplete="off" value="" placeholder="請輸入 商品 或 商店 關鍵字" data-rapid_p="2"
                            class="yui3-aclist-input" aria-autocomplete="list" aria-expanded="false" aria-owns="yui_3_12_0_7_1536246015186_59"
                            style="width: 473px;">
                        <div id="yui_3_12_0_7_1536246015186_40" class="yui3-widget yui3-aclist yui3-widget-positioned yui3-aclist-hidden"
                            aria-hidden="true" style="width: 483px; left: 1px; top: 31px;">
                            <div id="yui_3_12_0_7_1536246015186_42" class="yui3-aclist-content">
                                <ul class="yui3-aclist-list" id="yui_3_12_0_7_1536246015186_59" role="listbox"></ul>
                            </div>
                        </div>
                        <div class="yui3-aclist-aria" aria-live="polite" role="status"></div>
                    </div>
                </div> <input id="UHSearchProperty" class="yui3-u searchbtn" type="button" value="搜尋商品" data-rapid_p="3">
                <input id="UHSearchWeb" class="yui3-u searchbtn" type="button" value="搜尋商店" data-rapid_p="4"> <input
                    type="hidden" name="qt" class="qt" value="product" data-rapid_p="5"> <input type="hidden" name="cid"
                    class="cid" value="hp" data-rapid_p="6"> <input type="hidden" name="clv" class="clv" value="0"
                    data-rapid_p="7">
                <div id="category_id" data-clv="" data-cid="hp" style="height:0;"></div>
                <div id="autocomplete_data" data-url="https://tw.search.mall.yahoo.com/search/srp/searchbar?property=mall&amp;assistid=0"></div>
                <div id="space_id" data-acspid="979370955"></div>
                <div id="rpd_data" data-keys=""></div>
                <div id="autocom"><a href="autotom"></a></div>
            </form>
        </div>
    </div>
    <div class="UHCol3 Grid-U">
        <ul class="Fl-end Mend-10 Grid Whs-nw Mt-16">
            <li class="Grid-U Pos-r Pstart-4" data-plugin="toggle" data-trigger="mouseenter mouseleave click"
                data-toggle="[{&quot;target-child&quot;:&quot;.FancyBox&quot;,&quot;mouseenter&quot;:{&quot;remove&quot;:{&quot;classnames&quot;:&quot;D-n&quot;}},&quot;mouseleave&quot;:{&quot;add&quot;:{&quot;classnames&quot;:&quot;D-n&quot;}},&quot;click&quot;:{&quot;toggle&quot;:{&quot;classnames&quot;:&quot;D-n&quot;}}}]">
                <!-- for oldIE to play nice make sure to keep the class "D-b" in there --> <a class="D-b MouseOver"
                    href="http://tw.user.mall.yahoo.com/my/home" data-ylk="slk:UH-my" aria-haspopup="true" role="button"
                    data-rapid_p="8"> <i class="Icon Va-m W-a Lh-1 EC-C-light-gray" style="font-size:23px;background-color:#fff;height:23px;"></i>
                    <b class="Pb-20 Fw-b">我的商城</b> </a>
                <div class="FancyBox D-n Arrow North Px-10 Px-10 T-100 Mt-6 Pos-a Lh-14 Start-0 Whs-nw" aria-hidden="true">
                    <iframe frameborder="0" class="Pos-a Start-0 W-100 H-100 Bd-0"></iframe>
                    <ul class="Pos-r Bleed My-0 NoLinkColor">
                        <li class="Py-8 Px-10 Bd-b"><a class="D-b Fz-m" href="http://tw.user.mall.yahoo.com/sc/view/home"
                                data-ylk="slk:UH-my-cart" data-rapid_p="9">購物車清單</a></li>
                        <li class="Py-8 Px-10 Bd-b"><a class="D-b Fz-m" href="http://tw.user.mall.yahoo.com/my/followupStore"
                                data-ylk="slk:UH-my-liststore" data-rapid_p="10">我的最愛</a></li>
                        <li class="Py-8 Px-10 Bd-b"><a class="D-b Fz-m" href="http://tw.user.mall.yahoo.com/my/watchlist"
                                data-ylk="slk:UH-my-list" data-rapid_p="11">收藏商品</a></li>
                        <li class="Py-8 Px-10 Bd-b"><a class="D-b Fz-m" href="http://tw.user.mall.yahoo.com/my/point"
                                data-ylk="slk:UH-my-point" data-rapid_p="12">超贈點</a></li>
                        <li class="Py-8 Px-10 Bd-b"><a class="D-b Fz-m" href="http://tw.user.mall.yahoo.com/my/ecoupon"
                                data-ylk="slk:UH-my-ecoupon" data-rapid_p="13">折價券</a></li>
                        <li class="Py-8 Px-10 Bd-b"><a class="D-b Fz-m" href="http://tw.user.mall.yahoo.com/my/benefit"
                                data-ylk="slk:UH-my-benefit" data-rapid_p="14">我的專屬優惠</a></li>
                        <li class="Py-8 Px-10 Bd-b"><a class="D-b Fz-m" href="http://tw.user.mall.yahoo.com/my/ccmb"
                                data-ylk="slk:UH-my-ccmb" data-rapid_p="15">商店客服</a></li>
                        <li class="Py-8 Px-10"><a class="D-b Fz-m" href="http://tw.mall.yahoo.com/fsysannouce" data-ylk="slk:UH-my-announce"
                                data-rapid_p="16">超級商城公告</a></li>
                    </ul>
                </div>
            </li>
            <li class="Grid-U Pos-r" style="margin-top:3px;"><span class="Px-4">|</span> <a class="Fw-b" href="https://login.yahoo.com/config/login?.intl=tw&amp;.src=mktg1&amp;.pd=c%3DlVuuuM272e4FzSWCFQRlEd3GYg--&amp;.done=http://tw.mall.yahoo.com"
                    data-ylk="slk:UH-login" data-rapid_p="17">登入</a> </li>
            <li class="Grid-U Mstart-4 Pos-r myorder" style="margin-top:-6px;" data-plugin="toggle" data-trigger="mouseenter mouseleave click"
                data-toggle="[{&quot;target-child&quot;:&quot;.FancyBox&quot;,&quot;mouseenter&quot;:{&quot;remove&quot;:{&quot;classnames&quot;:&quot;D-n&quot;}},&quot;mouseleave&quot;:{&quot;add&quot;:{&quot;classnames&quot;:&quot;D-n&quot;}},&quot;click&quot;:{&quot;toggle&quot;:{&quot;classnames&quot;:&quot;D-n&quot;}}}]">
                <a class="Pos-r MouseOver" href="https://tw.user.mall.yahoo.com/my/order/orderList" data-ylk="slk:UH-Order"
                    data-rapid_p="18"> <i class="spriteimg orderIcon Va-m D-ib"></i> <b class="Pb-20 Fw-b" id="yui_3_10_3_1_1376297431559_252">訂單查詢</b>
                </a>
                <div class="FancyBox D-n Arrow North Px-10 Px-10 T-100 Pos-a Lh-14 Start-0 Whs-nw Mstart-6" aria-hidden="true"
                    style="width:65px;"> <iframe frameborder="0" class="Pos-a Start-0 W-100 H-100 Bd-0"></iframe>
                    <ul class="Pos-r Bleed My-0 NoLinkColor">
                        <li class="Py-8 Px-10 Bd-b"><a class="D-b Fz-m" href="https://tw.user.mall.yahoo.com/my/order/orderList"
                                data-ylk="slk:UH-Order-1" data-rapid_p="19">出貨進度</a></li>
                        <li class="Py-8 Px-10 Bd-b"><a class="D-b Fz-m" href="https://tw.user.mall.yahoo.com/my/order/orderList"
                                data-ylk="slk:UH-Order-2" data-rapid_p="20">退換申請</a></li>
                        <li class="Py-8 Px-10 Bd-b"><a class="D-b Fz-m" href="https://tw.user.mall.yahoo.com/my/order/orderList"
                                data-ylk="slk:UH-Order-3" data-rapid_p="21">發票查詢</a></li>
                        <li class="Py-8 Px-10 Bd-b"><a class="D-b Fz-m" href="http://tw.mall.yahoo.com/help/help.html"
                                data-ylk="slk:UH-Order-4" data-rapid_p="22">常見問題</a></li>
                        <li class="Py-8 Px-10"><a class="D-b Fz-m" href="https://tw.user.mall.yahoo.com/my/order/orderList"
                                data-ylk="slk:UH-Order-5" data-rapid_p="23">聯絡客服</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div><!-- /.UHCol3 -->
</div>